.contenedor{

    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: 10;
    background-color: black(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(236, 154, 154);
    font-size: 2rem;

h2{
    color: rgb(170, 115, 43);
}


}