<div class="container">
    <div class="container">
        <div class=" card Login">
            <div class="authBlock">
                <div class="formGroup">

                    <h1 class = "title">Cartas Marvel</h1>
                    <button type="button"  (click)="btnLogin()" >
                      <i class="fab fa-google-plus-g"></i>
                      Login con Google
                    </button>
                    
                  </div>

            </div>

        </div>
        <video src="../../../assets/imagenes/7d7a788cba1fa8df446a2626f1f01d3e.mp4"  height="350" width="350" autoplay [volume]="false" ></video> 

    </div>


</div>

