<div class="body">

    <div class="container">
        <div class=" card Login">
            <div class="authBlock">
                <div class="formGroup">

                    <h1 class = "title">Cartas Marvel</h1>
                    <button type="button"  (click)="btnLogin()" >
                      <i class="fab fa-google-plus-g"></i>
                      Login con Google
                    </button>
                   
                  </div>
                
            </div>
        </div>
    </div>
</div>
