
    <app-navbar></app-navbar>
    <div class="body">

    <h1 class = "title">Inicio</h1>
    <div class="container">

        <h2> Indicaciones del juego </h2>
        <br>
        <p>Para iniciar el juego debes estar registrado, incluso los demas jugadores</p>

        <button class="btn btn-primary" mat-raised-button color="primary" type="button" (click)="crearJuego()">Crear Juego </button>
        <button class="btn btn-primary" mat-raised-button color="primary" type="button" (click)="listgames()">Consultar Juegos Creados </button>
        <br>
        <br>
        <p>Invita a tus amigos</p>
    </div>
    <video class="video" src="../../../../../assets/imagenes/f9b0da504d764f61701402225e329e9e.mp4"  height="350" width="350" autoplay [volume]="false" ></video> 

</div>
<!--button  class="btn btn-primary" type = "submit" [disabled]="frmJugadores.invalid">crear juego</button>-->




