
.card {
    background : url(https://p4.wallpaperbetter.com/wallpaper/358/703/794/avengers-hd-wallpaper-preview.jpg);

    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    transition: all .3s;

   }
   
   .card2 {
    width: 200px;
 height: 254px;
 background-color: #93dcee;
  border-radius:6px;
 transition: all .2s;
 margin: 9px;

   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }

.title{
    background-color: rgb(171, 245, 245);
    text-align: center;

}





